data/xsds/cc_AgreementRq.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mbrd="mbrd" targetNamespace="mbrd" id="mtsRequestState">
	<!-- Импорт базовых типов -->
	<xsd:include schemaLocation="../Include/CC/cc_Types.xsd"/>
	<!--Запрос на согласование условий кредитования-->
	<xsd:element name="ContactCenterDataExchange">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="requestId" type="xsd:positiveInteger" nillable="false">
					<xsd:annotation>
						<xsd:documentation>Идентификатор заявки Банка</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="messageId">
					<xsd:annotation>
						<xsd:documentation>Уникальный идентификатор сообщения запроса (GUID)</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="36"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="messageType" type="mbrd:messageType" fixed="AGREEMENT_RQ">
					<xsd:annotation>
						<xsd:documentation>Тип сообщения</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="messageDateTime" type="xsd:dateTime">
					<xsd:annotation>
						<xsd:documentation>Дата Время создания сообщения</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="initiatorCode" type="mbrd:systemType">
					<xsd:annotation>
						<xsd:documentation>Код системы, инициатора запроса. Значения системного справочника кодов информационных систем в файле /Include/systemDictionaries.xsd</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="sourceCode" type="mbrd:systemType">
					<xsd:annotation>
						<xsd:documentation>Код системы, выполняющей запрос. Значения системного справочника кодов информационных систем в файле /Include/systemDictionaries.xsd</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="callCenter" type="mbrd:callCenterType"/>
				<xsd:element name="family" type="mbrd:clientFamily">
					<xsd:annotation>
						<xsd:documentation>Фамилия клиента</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="name" type="mbrd:clientName">
					<xsd:annotation>
						<xsd:documentation>Имя клиента</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="fatherName" type="mbrd:clientFatherName" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Отчество клиента</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="birthDate" type="mbrd:clientBirthDate">
					<xsd:annotation>
						<xsd:documentation>Дата рождения клиента</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="clientListDocument" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Блок данных о документах клиента</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="clientDocument" type="mbrd:documentFullDataType" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Документы удостоверяющие личность</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="clientListContact" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Блок данных о контактах клиента</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="clientContact" type="mbrd:contact" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Контакты (телефон, email)</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="creditRequest" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Блок данных о кредите</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:all>
							<xsd:element name="requestSumma" type="mbrd:elemAmount" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Запрашиваемая лимит</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="currency" type="mbrd:dictionary" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Валюта кредита</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="initialPayment" nillable="false" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Первоначальный взнос</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:decimal">
										<xsd:fractionDigits value="2"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="summa_buy" type="mbrd:elemAmount" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Сумма покупки</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="creditPeriod" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Срок кредита</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="xsd:integer">
										<xsd:maxInclusive value="99"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="card" type="mbrd:clientRequestCardDataType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Данные карты</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="insuranceInfo" type="mbrd:insuranceInfoType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Данные страховки</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="purchases" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Покупки</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="purchase" maxOccurs="unbounded">
											<xsd:annotation>
												<xsd:documentation>Покупка</xsd:documentation>
											</xsd:annotation>
											<xsd:complexType>
												<xsd:all>
													<xsd:element name="purchaseCode">
														<xsd:annotation>
															<xsd:documentation>Код (артикул) товара</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="36"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="purchaseName">
														<xsd:annotation>
															<xsd:documentation>Наименование товара</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="512"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="purchaseCost">
														<xsd:annotation>
															<xsd:documentation>Стоимость (сумма)</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:decimal">
																<xsd:fractionDigits value="2"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="purchaseQuantity" type="xsd:int">
														<xsd:annotation>
															<xsd:documentation>Количество товаров</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="IMEI" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Международный Идентификатор Мобильного Оборудования</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="15"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="serialNum" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Серийный номер</xsd:documentation>
														</xsd:annotation>
														<xsd:simpleType>
															<xsd:restriction base="xsd:string">
																<xsd:maxLength value="30"/>
															</xsd:restriction>
														</xsd:simpleType>
													</xsd:element>
													<xsd:element name="category" type="xsd:string" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Категория товара</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="subCategory" type="xsd:string" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Подкатегория товара</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
													<xsd:element name="isMain" type="xsd:boolean" minOccurs="0">
														<xsd:annotation>
															<xsd:documentation>Признак основного товара</xsd:documentation>
														</xsd:annotation>
													</xsd:element>
												</xsd:all>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:all>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="creditDecisions" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="creditDecision" type="mbrd:creditDecision" maxOccurs="unbounded"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="bankServices" type="mbrd:bankServices" minOccurs="0"/>
				<xsd:element name="requestServices" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Опция, выбранные клиентов на этапе анкетирования</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="service" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="serviceType" type="mbrd:serviceType">
											<xsd:annotation>
												<xsd:documentation>Код опции</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="serviceData" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Номер телефона МТС</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
									<xsd:attribute name="optyId"/>
									<xsd:attribute name="optyType"/>
									<xsd:attribute name="omtOnly"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="offerCard" type="xsd:boolean" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Признак предложения карты в рамках кросс-продажи</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="insuranceDataList" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="insuranceData" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:all>
										<xsd:element name="insProgramCode" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Код страховой программы</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="insProgramName" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Наименование страховой программы</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="insCompanyCode" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Код страховой компании</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="insCompanyName" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Наименование страховой компании</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="insGroupCode" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Код группы страхования</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="insGroupName" type="xsd:string" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Наименование группы страхования</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="insPremiumPercent" type="xsd:decimal" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Процентная ставка</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="insDefault" type="xsd:boolean" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Признак по умолчанию</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="insProgramIsActive" type="xsd:boolean" minOccurs="0">
											<xsd:annotation>
												<xsd:documentation>Статус активности страховой программы</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:all>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="deliveryInfo" minOccurs="0">
					<xsd:complexType>
						<xsd:all>
							<xsd:element name="branchCode" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Код филиала Банка</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="servicePointCode" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Код доп. офиса Банка</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="rtkPointCode" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Код точки продаж РТК</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="rtkPointAddress" type="xsd:string" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Адрес точки РТК</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:all>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="comment" type="mbrd:comment" minOccurs="0"/>
				<xsd:element name="requestAdditionalInfo" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="item" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="value" minOccurs="0"/>
									</xsd:sequence>
									<xsd:attribute name="name" use="required"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="addInfoRequired" type="xsd:boolean" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Признак доп. анкетирования</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="noInsAcctId" type="xsd:boolean" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Признак отсутствия СНИЛС у Клиента</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="clientDocument" type="mbrd:documentFullDataType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Документы удостоверяющие личность</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:all>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
