data/xsds/Include/clientRequestData_strict.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (http://www.altova.com) by MESMERiZE (MSM) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mbrd="mbrd" targetNamespace="mbrd" id="ClientsList_Request">
	<xsd:annotation>
		<xsd:documentation>
			<!-- Файл содержит описание типа "ClientData" со строгими требованиями к структуре и составу данных. Применяется для определения неверно 
			заполненных полей запроса или существующих данных клиента -->
		</xsd:documentation>
	</xsd:annotation>
	<!-- Импорт базовых типов -->
	<xsd:include schemaLocation="clientComplexTypes_strict.xsd"/>
	<xsd:include schemaLocation="clientSimpleTypes.xsd"/>
	<xsd:include schemaLocation="systemSimpleTypes.xsd"/>
	<xsd:include schemaLocation="systemComplexTypes.xsd"/>
	<xsd:include schemaLocation="requestComplexTypes.xsd"/>
	<!-- Тип clientRequestData, описывающий жесткие требования к данным заявки клиента -->
	<xsd:complexType name="clientRequestData">
		<xsd:sequence>
			<xsd:element name="clientRequestCommonData" type="mbrd:clientRequestCommonDataType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="clientRequestCommonDataType">
		<xsd:annotation>
			<xsd:documentation>Общие данные по продукту кредитования</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="flagCrossSaleMainRequest" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Признак основной/второстепенной заявки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="requestID" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Идентификатор заявки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="user" type="mbrd:FIO" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Пользователь создавший заявку (ФИО)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="userCode" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Код пользователя, создавшего заявку</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="subdivision" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Филиал Банка заведения заявки. Код системы BackOffice.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="servicePoint" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дополнительное отделение (ДО) Банка. Код системы BackOffice.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="product" type="mbrd:clientRequestProductDataType">
				<xsd:annotation>
					<xsd:documentation>Данные заявки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="callback" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="callTime" type="mbrd:dictionary">
							<xsd:annotation>
								<xsd:documentation>Удобное время для звонка</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="timeZone" type="mbrd:dictionary">
							<xsd:annotation>
								<xsd:documentation>Временная зона</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="travel" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="travelDate" type="xsd:date">
							<xsd:annotation>
								<xsd:documentation>Месяц и год последнего выезда за пределы стран СНГ</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="travelCountry" type="mbrd:dictionary">
							<xsd:annotation>
								<xsd:documentation>Страна выезда</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="bankInfoSource" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="sourceOfInformation" type="mbrd:dictionary">
							<xsd:annotation>
								<xsd:documentation>Откуда вы узнали о нашем Банке?</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="sourceOfInformationOther" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Откуда вы узнали о нашем Банке? (иное)</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="NBCHSendingAllowed" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Я ознакомлен и согласен с условиями обработки и использования моих персональных данных</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="deliveryType" type="mbrd:dictionary" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Способ предоставления выписки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="utmInfo" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Информация о канале привлечения клиента</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="utmSource">
							<xsd:annotation>
								<xsd:documentation>Название интернет-ресурса, с которого пришел пользователь</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="85"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="utmMedium">
							<xsd:annotation>
								<xsd:documentation>Средство перехода (баннер, текстовый блок, ссылка в тексте)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="85"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="utmCampaign">
							<xsd:annotation>
								<xsd:documentation>Название рекламной кампании или продукт, который рекламируем</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="85"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="utmLeads">
							<xsd:annotation>
								<xsd:documentation>Идентификатор лидогенератора (партнера, который продает нам клиентов)</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="85"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="utmTerm">
							<xsd:annotation>
								<xsd:documentation>Ключевой запрос</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="85"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="utmContent">
							<xsd:annotation>
								<xsd:documentation>Группа ключевого запроса</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:maxLength value="85"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="transaeroPrivilegeNumber" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Номер карты Трансаэро Привилегия</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="10"/>
						<xsd:pattern value="009\d\d\d\d\d\d\d"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PromisedDocList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Обещанные документы</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="docGroupInfo" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="docGroupCode" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>Код группы</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="docGroupName" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Наименование группы</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="docList">
										<xsd:annotation>
											<xsd:documentation>Список документов группы</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="docInfo" maxOccurs="unbounded">
													<xsd:annotation>
														<xsd:documentation>Данные документа</xsd:documentation>
													</xsd:annotation>
													<xsd:complexType>
														<xsd:all>
															<xsd:element name="docCode" type="xsd:string">
																<xsd:annotation>
																	<xsd:documentation>Код документа</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="docName" type="xsd:string" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Наименование документа</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
														</xsd:all>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="saleSourceCode" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Канал продаж</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="franchiseCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Код торговой организации</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="possibleOfferList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Агрегат по возможным предложениям</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="possibleOffer" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="productCode" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Код кредитного продукта, возможного для выдачи клиенту в соответствии с его категорией</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="currency" type="mbrd:dictionary" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Валюта кредита</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="limit" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Кредитный лимит продукта</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="minLimit" type="mbrd:elemAmount" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Минимальный кредитный лимит</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="maxLimit" type="mbrd:elemAmount" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Максимальный кредитный лимит</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="term" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Срок кредита</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="minTerm" type="xsd:positiveInteger" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Минимальный срок</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
												<xsd:element name="maxTerm" type="xsd:positiveInteger" minOccurs="0">
													<xsd:annotation>
														<xsd:documentation>Максимальный срок</xsd:documentation>
													</xsd:annotation>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="clientCategoryList" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Категории клиентов, которым доступен данный продукт</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="clientCategory" maxOccurs="unbounded">
													<xsd:annotation>
														<xsd:documentation>Категория клиента на продукте</xsd:documentation>
													</xsd:annotation>
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="categoryName" type="xsd:string">
																<xsd:annotation>
																	<xsd:documentation>Категория</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="TimeIntervalDecision" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Режим принятия решения</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="insuranceList" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Список доступных для продукта страховок</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="insurance" maxOccurs="unbounded">
													<xsd:annotation>
														<xsd:documentation>Страховка</xsd:documentation>
													</xsd:annotation>
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="insuranceType" type="xsd:string" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Тип страхования</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="premiumAmmount" type="mbrd:elemAmount" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Сумма страхового взноса</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="insProgramCode" type="xsd:string" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Код страховой программы</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="insProgramName" type="xsd:string" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Наименование страховой программы</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="insCompanyCode" type="xsd:string" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Код страховой компании</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="insCompanyName" type="xsd:string" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Наименование страховой компании</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="insGroupCode" type="xsd:string" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Код группы страхования</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="insGroupName" type="xsd:string" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Наименование группы страхования</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="insPremiumPercent" type="xsd:decimal" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Процентная ставка</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="insDefault" type="xsd:boolean" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Признак по умолчанию</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="insProgramIsActive" type="xsd:boolean" minOccurs="0">
																<xsd:annotation>
																	<xsd:documentation>Статус активности страховой программы</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="purchaseCost" type="xsd:float" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Стоимость покупки</xsd:documentation>
										</xsd:annotation>
									</xsd:element>									
									<xsd:element name="creditTerm" type="xsd:integer" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Срок кредита</xsd:documentation>
										</xsd:annotation>
									</xsd:element>				
										<xsd:element name="downPayment" type="xsd:float" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Первоначальный взнос</xsd:documentation>
										</xsd:annotation>
									</xsd:element>								
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="clientListRefinanceCredit" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Блок с информацией о рефинансируемых кредитах клиента</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="clientRefinanceCredit" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="bankName" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>Наименование Банка</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="dateIssCredit" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>Дата выдачи кредита</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="limit" type="xsd:float">
										<xsd:annotation>
											<xsd:documentation>Сумма кредита</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="currency" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>Валюта кредита</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="creditType" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>Тип рефинансируемого кредита</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="creditTypeOther" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>Расширеная цель кредитования</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="rate" type="xsd:float">
										<xsd:annotation>
											<xsd:documentation>Процентная ставка кредита</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="planRepayDate" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>Плановая дата погашения</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="creditTerm" type="xsd:integer">
										<xsd:annotation>
											<xsd:documentation>Срок кредита в месяцах</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="monthlyPayment" type="xsd:float">
										<xsd:annotation>
											<xsd:documentation>Ежемесячный платеж</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="debtCurDate" type="xsd:float">
										<xsd:annotation>
											<xsd:documentation>Сумма основного долга на текущую дату</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="accountNumber" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>№ счета рефинансируемого кредита</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="clientListRefinanceCreditDocument">
										<xsd:annotation>
											<xsd:documentation>Список доступных для продукта страховок</xsd:documentation>
										</xsd:annotation>
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="clientRefinanceCreditDocument" maxOccurs="unbounded">
													<xsd:annotation>
														<xsd:documentation>Страховка</xsd:documentation>
													</xsd:annotation>
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element name="docType" type="xsd:string">
																<xsd:annotation>
																	<xsd:documentation>Тип прикрепленного документа</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
															<xsd:element name="Path" type="xsd:string">
																<xsd:annotation>
																	<xsd:documentation>Путь к документу</xsd:documentation>
																</xsd:annotation>
															</xsd:element>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="underwriterDecision" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Блок с решением андеррайтера</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="decisionCode" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>Решение андеррайтера</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="approveAmount" type="mbrd:dictionary" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Одобренная андеррайтером сумма кредита</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="approveTerm" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Одобренный андеррайтером срок кредита</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="creditBurden" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Кредитная нагрузка</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="monthlyIncome" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Чистый среднемесячный доход клиента</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="comment" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Внутренний комментарий андеррайтера</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="IPaddress" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>IP адрес клиента</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Office" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Офис получения карты</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PassportNumSMS" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>4 последние цифры номера паспорта клиента из SMS</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OfferAcceptance" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Признак принятия публичной оферты</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IrrelevantData" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Признак изменения критичных данных</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IrrelevantMainPhone" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Признак изменения ОМТ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AddrNotMatch" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Признак изменения Адреса регистрации</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OMTNotOwner" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SMS-запрос направил не владелец номера</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NewMainPhone" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Новый ОМТ клиента</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="clientRequestCardDataType">
		<xsd:annotation>
			<xsd:documentation>Данные по карте</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="cardNumber" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Номер карты</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cardNumberHashed" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Хеш от номера карты (SHA-1)</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="40"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="paymentSystem" type="mbrd:paymentSystemType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Платежная система</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cardCategory" type="mbrd:cardCategoryType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Категория карты</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cardType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Тип карты</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="debtCred" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Кредитная/дебетовая</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="flagGracePeriod" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Наличие Grace-периода по карте</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currentRate" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Текущая процентная ставка</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="cardStatus" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Статусы карты</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="status" type="mbrd:cardStatusType">
							<xsd:annotation>
								<xsd:documentation>Статус (0,5,10,15,20,25)</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="statusDate" type="xsd:date">
							<xsd:annotation>
								<xsd:documentation>Дата проставления статуса</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="simICCID" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ICCID с конверта карты МТС Деньги SIM</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="cardBarCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Штрих-код с конверта карты МТС Деньги</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:length value="16"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="PlastCat" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Способ выпуска</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="subProductType" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Подтип продукта </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="clientRequestProductDataType">
		<xsd:annotation>
			<xsd:documentation>Данные по продукту</xsd:documentation>
		</xsd:annotation>
		<xsd:all>
			<xsd:element name="clientChoice" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Решение, выбранное клиентом</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="productType" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Тип кредитного продукта (Пластиковые карты, автокредиты, ипотека, потребкредит, и т.д.)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="productCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Код кредитного продукта</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="creditPeriod" type="xsd:positiveInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Срок действия кредита</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dogovorNumber" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Номер договора</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dogovorDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Дата подписания договора</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="debitPhone" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Номер мобильного телефона для автоматического списания средств для гашения задолженности с лицевого счета абонента МТС.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="secretWord" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Пароль для идентификации по телефону</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="currency" type="mbrd:dictionary" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Валюта кредита</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="summa_buy" type="mbrd:elemAmount" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Сумма покупки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="initialPayment" type="mbrd:elemAmount" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Сумма первоначального платежа</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="discountRate" type="mbrd:elemAmount" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Размер скидки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="requestSumma" type="mbrd:elemAmount" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Запрашиваемая лимит</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="creditSumma" type="mbrd:elemAmount" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Расчитанный лимит</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="limitSumma" type="mbrd:elemAmount" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Предоставляемый лимит</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="purchases" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Данные о приобретаемых товарах</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="purchase" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Данные отдельного товара</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="purchaseCode" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Код (артикул товара)</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="purchaseName" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Наименование товара</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="purchaseCost" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Сумма товара</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="purchaseQuantity" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Количество товара</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="IMEI" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Международный Идентификатор Мобильного Оборудования</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="purchaseMK" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Марка</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="purchaseModel" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Модель</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="manufacturer" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Производитель</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="serialNum" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Серийный номер</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="category" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Категория товара</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="subCategory" type="xsd:string" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Категория товара</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="isMain" type="xsd:boolean" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>Признак основного товара</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="account" type="mbrd:clientRequestAccountDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Счет клиента</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="card" type="mbrd:clientRequestCardDataType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Данные карты</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="bankServices" type="mbrd:bankServices" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Услуги банка</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="requestServices" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Оптимальная опция и опция МТС Бонус, выбранная клиентом на точке продаж (передается из Siebel в New Contact)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="optimalService" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Блок оптимальной услуги</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="serviceType" type="mbrd:serviceType">
										<xsd:annotation>
											<xsd:documentation>Код оптимальной услуги</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="service" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Блок услуги МТС Бонус</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="serviceType" type="mbrd:serviceType">
										<xsd:annotation>
											<xsd:documentation>Код услуги</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="serviceData" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>Номер телефона МТС</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="insuranceInfo" type="mbrd:insuranceInfoType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Данные страховки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rate" type="xsd:double" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Процентная ставка</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="attachmentDocList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Список прикрепленных документов</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="attachmentDoc" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Прикрепленный документ</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="docType" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>Тип прикрепленного документа</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="Path" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>Путь к документу</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="clientRequestAccountDataType">
		<xsd:annotation>
			<xsd:documentation>Данные по счету</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="accountNumber" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Номер счета</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="accountCurrency" type="mbrd:dictionary">
				<xsd:annotation>
					<xsd:documentation>Валюта счета</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
